<html>
<link href="css/style.css" rel="stylesheet" type="text/css">
<body>
  <div style="z-index: 1; position: absolute;">
    <img class="bg" src="images/background.jpg"/>
  </div>
  <div style="z-index: 2; position: relative;">
    <div class="header">
      <a href="#"><img src = "images/folioLogo.png" class="logo"></img></a>
      <div class="header-right">
        <a class="menu button" href="/users/login">Log In</a>
        <a class="active button" href="/users/register">Sign Up</a>
      </div>
    </div>
  </div>
  <div style="z-index: 2; position: absolute;">
    <p class="title">Create your own</br>professional portfolio.</p>
  </div>
  <div style="z-index: 2; position: absolute;">
    <a href="/users/register"><button class="start">Get Started</button></a>
  </div>
</body>
</html>